  <style>
.container-fluid {
    padding: 60px 50px;
  }
  </style>
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  </footer>