<script src="../js/roomlist.js"></script> 
<style>
  .contactusbtn{
    background-color: teal;
  }
  .searchbar{
    height: 50% !important;
    width:80%  !important;
    padding: 12px 26px !important;
    

  }
  .searchbtn{
    width:fit-content;
    margin-right: 56%;
    background-color: transparent;
    border-radius: 21px;
    border: 3px solid white;
    

    
  }

  .searchlocation{
    margin-top: 5%;
  }

  .mtcroomtext{
    margin-top: 0% !important;
  }
  .whywe{

  }
</style>
<div class="">
<div class="jumbotron text-center">
  <h1 class="mtcroomtext">MTC ROOMS</h1> 
  <p>We Ease your Room Search..</p> 
  <div class="row searchlocation">
    <form class="formValidate">
<div class="col-sm-10">
<input type="text" class="form-control searchbar" id="search_input" size="50" placeholder="Search  Location" required>
<input  id="lati_type"  type="hidden" >
<input  id="log_type"  type="hidden" >   
</div>
<div class="col-sm-2">
  <button type="button" onclick="SearchRoom()"   class="btn  searchbtn">Search</button> 
     
  </div>
  </form>
 </div>
 </div>
  
<h2>Thinking Why We ?</h2>
<div class="bg-grey">
<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img class="whywe" src="../img/yourhome.png" alt="whywe">
      <h3><strong>Feel Free Like Home</strong></h3>
      
      
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img class="whywe" src="../img/yourhome.png" alt="nobrokrage">
      <h3><strong>Get Rid of Brokrage Fees</strong></h3>
      
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img class="whywe" src="../img/yourhome.png" alt="San Francisco">
      <h3><strong>No hidden Charges</strong></h3>
      
    </div>
  </div>
</div>

</div>

<h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Allahabad ,UP</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 9567898765</p>
      <p><span class="glyphicon glyphicon-envelope"></span> mtcroom@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right contactusbtn" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


</div>

<script>


google.maps.event.addDomListener(window, 'load', intilize);
    function intilize() {
        var autocomplete = new google.maps.places.Autocomplete(document.getElementById("search_input"));

        google.maps.event.addListener(autocomplete, 'place_changed', function () {

        var place = autocomplete.getPlace();
        document.getElementById('lati_type').value= place.geometry.location.lat() ;
        document.getElementById('log_type').value= place.geometry.location.lng();
     

        var location = "Address: " + place.formatted_address + "<br/>";
        location += "Latitude: " + place.geometry.location.lat() + "<br/>";
        location += "Longitude: " +  place.geometry.location.lng();
        document.getElementById('lblresult1').innerHTML = location
        });
    }
</script>