<form action="payment_gateway/payumoney" method="POST">
<input class="amount" type="hidden" name="amount" value="200"/>
<input class="con" type="hidden" name="phone" value="9818536862" />
<input type="hidden" name="service_provider" 
 value="payu_paisa"/>
<input type="hidden" class="product" name="productinfo" 
value="educational purpose"/>
<input type="submit" value="Pay"/>
</form>
