<link rel="stylesheet" href="../css/signup.css">
<script src="../js/signup.js"></script>
<style>
      
      .signupbtnclass{
            background-color:transparent;
            border: 3px solid white;
            border-radius: 25px;
            padding:2% ;
             
      }

      #signupid ,#loginid{
         margin-top: -3%   
      }

      .imgsignin{
            width: 100%;
      }
      .signinimg{
           
    width: 45%;
    border-radius: 50%;
    margin-left: 25%;

      }
      #signinuppage{
background-image: url("../img/purplebkg.jpg");
      }
 
      
</style>
<script>
      $(document).ready(function(){
            $('#signupid').hide()
      })
      function loginfun(){
           $('#signupid').hide()
            $('#username').val('');
           $('#password').val('');
           $('#loginid').show();
      }

      function signupfun(){
           $('#signupid').show()
           
           $('#loginid').hide();
      }
</script>
<div class="row container-fluid" id="signinuppage">

<div class="row signinup" >
      <div class="col-sm-2">

      </div>

      <div class="col-sm-4">
          <button type="button" class="signupbtnclass" onclick="loginfun()">LOGIN</button>   
      </div>

      <div class="col-sm-4">
           <button type="button" class="signupbtnclass" onclick="signupfun()">SIGN UP</button>  
      </div>
      <div class="col-sm-2">

      </div>
</div>
<div class="row" id="signupid">
<div class="container SignUP signuppage">
  

<!-- The Modal (contains the Sign Up form) -->

<div id="signupform" >
      

     
    <form class="signup formValidate">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <div class= "row" id="passworddivsignup">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email"  id = "email" class="signupinput" name="email" required>
       </div>
       <div class= "row">
      <label for="Firstname"><b>Firstname</b></label>
      <input type="text" placeholder="Enter Firstname" id = "firstname"  class="signupinput" name="Firstname" required>
</div>
<div class= "row">
      <label for="lastname"><b>lastname</b></label>
      <input type="text" placeholder="Enter lastname"  id = "lastname" class="signupinput" name="lastname" required>
</div>
<div class= "row">
      <label for="contact"><b>Phone No</b></label>
      <input type="text" placeholder="Enter contact No" id = "contactno"  class="signupinput" name="contact" required>
</div>
<div class= "row">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  id = "password" class="signupinput" name="psw" required>
</div>
<div class= "row">
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password"  id = "Repeatpsd" class="signupinput" name="psw-repeat" required>
</div>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
         <button type="button" class="signupbtn" onclick="signUPform()">Sign Up</button>
         <button type="button" class="cancelbtn" onclick="">Cancel</button>
      </div> 
    </div>
  </form>


</div>
 </div>
 
</div>

<div class="row"  id="loginid">
<div class="container Signin ">
  

<!-- The Modal (contains the Sign Up form) -->

<div id="signinform" >
      

     
    <form class="signin formValidate">
    <div class="container">
      <h1>Login </h1>
      <hr>
       <div class= "row imgsignin">
             <div class="col-md-4"></div>
             <div class="col-md-4">
<img src= "../img/loginimg.jpg" alt="Login" class="signinimg"> 
</div>
       <div class="col-md-4"></div>
       </div>
        
     
      <div class= "row passworddiv" id="passworddiv">
       <label for="username"><b>Email ID</b></label> 
                
                <input type="text" class="signupinput" placeholder="Enter Registered" id="usernamesignin" name="username" required> 
                 </div>
       <div class= "row passworddiv">
      <label for="password"><b>Password</b></label> 
                
                <input type="password"  class="signupinput"  id ="passwordsignin" placeholder="Enter Password" name="password" required> 
               </div>



      <div class="clearfix">
            <button type="button" class="signupbtn" onclick="LoginForm()">Login Here</button>
         <button type="button" class="cancelbtn" onclick="">Forgot Password</button>
      
          </div> 
    </div>
  </form>


</div>
 </div>
 
</div>

</div>