<link rel="stylesheet" href="../css/signup.css">
<div class="container SignUP">
  <form action="/action_page.php">
    <div class="row">
      <h2 style="text-align:center">Login / Sign Up</h2>
      

      <div class="col">
         <div>New Member ? </div> 
         <div>Sign in to Register</div> 

        

        <a href="#" class="fb btn">
          <i class="fa fa-facebook fa-fw"></i> Sign Up as Vendor
        </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Sign up as buyer
        </a>
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Forgot Password?
        </a>
      
      </div>

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        <input type="text" id="username" name="username" placeholder="Username" required>
        <input type="password" id ="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </div>

    </div>
  </form>
</div>

